@font-face {
	font-family: 'Merienda';
	src: url('./fonts/static/Merienda-Regular.ttf') format('truetype');
}

body,
button,
input {
	margin: 0;
	font-family: 'Merienda', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
  }

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}